@using Moz.Settings
@model Moz.Administration.Models.Members.IndexModel
@inject AdminSettings AdminSettings
@{
    Layout = null;
    var guid = Guid.NewGuid().ToString("N");

    var newResetPwd = "66669999";
    if (!AdminSettings.ResetPassword.IsNullOrEmpty())
    {
        newResetPwd = AdminSettings.ResetPassword;
    }
}
<div class="zui-page layui-form" lay-filter="form-@guid">
    <div class="layui-card">
        <div class="layui-card-header">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="keyword" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn" lay-submit="" zui-event="search">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>

            </div>
        </div>
        <div class="layui-card-body">
            <div class="layui-btn-group">
                <a class="layui-btn" href="javascript:;" zui-href="@Url.Action("create", "Member")" zui-type="dialog" zui-width="800px" zui-height="400px" title="添加用户"><i class="layui-icon">&#xe654;</i> 添加</a>
                <a class="layui-btn" href="javascript:;" title="重置密码" zui-event="resetPwd"><i class="layui-icon">&#xe673;</i> 重置密码</a>
            </div>
            <table class="layui-hide" id="table_@(guid)" lay-filter="table_@(guid)"></table>
        </div>
    </div>
</div>

<script type="text/html" id="toolbar_@(guid)">
    <a class="layui-btn layui-btn-normal layui-btn-xs" href="javascript:;" zui-href="@Url.Action("update", "Member")?id={{d.Id}}" zui-type="dialog" zui-width="1000px" zui-height="500px" title="编辑">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </a>
</script>
<script type="text/html" id="activeTpl_@(guid)">
    {{#
    var checked = d.IsActive?"checked":"";
    }}
    <input type="checkbox" name="isactive" value="{{d.Id}}" lay-skin="switch" lay-text="是|否" lay-filter="isactive_@(guid)" {{checked}}>
</script>
<script type="text/html" id="avatarTpl_@(guid)">
    {{# if(d.Avatar){ }}
    <a href="{{d.AvatarFullPath}}" target="_blank"><img src="{{d.AvatarFullPath}}" style="height: 30px;width: auto;"/></a>
    {{# }else{ }}
    <img src="~/Administration/Assets/images/avatar.png" style="height: 30px;width: auto;"/>
    {{# } }}
</script>
<script type="text/html" id="rolesTpl_@(guid)">
    {{# if(d.Roles && d.Roles.length > 0){ }}
    <span class="zui-tag zui-tag-success zui-tag-mini">{{d.Roles}}</span>
    {{# }else{ }}
    <span class="zui-tag zui-tag-mini">访客</span>
    {{# } }}
</script>
<script>
    layui.use(['form', 'table', 'jquery','admin','layer'],
        function() {
            var form = layui.form, $ = layui.jquery, table = layui.table, admin=layui.admin, layer=layui.layer;
            
            form.render(null, "form-@guid");

            table.render({
                elem: '#table_@(guid)',
                url: '@Url.Action("PagedList", "Member")',
                method: 'post',
                response: { statusName: 'Code', msgName: 'Message', countName: 'Total', dataName: 'Data' },
                request: { limitName: 'pageSize' },
                cols: [
                    [
                        { type: 'checkbox' }, 
                        { field: 'Id', width: 80, title: 'ID', sort: true },
                        { field: 'AvatarFullPath', title: '头像', templet:'#avatarTpl_@(guid)', width: 60 }, 
                        { field: 'Username', title: '用户名' },  
                        { field: 'Roles', title: '角色', width: 150, templet:'#rolesTpl_@(guid)' }, 
                        //{ field: 'PasswordSalt', title: '', width: 150 }, 
                        //{ field: 'Email', title: '邮件', width: 150 }, 
                        //{ field: 'Mobile', title: '手机', width: 150 }, 
                       
                        //{ field: 'Gender', title: '性别', width: 70 }, 
                        //{ field: 'Birthday', title: '', width: 150 }, 
                        //{ field: 'RegisterIp', title: '', width: 150 }, 
                        { field: 'RegisterDatetimeString', title: '注册时间', width: 150 }, 
                        //{ field: 'LoginCount', title: '', width: 150 }, 
                        //{ field: 'LastLoginIp', title: '', width: 150 }, 
                        //{ field: 'LastLoginDatetime', title: '', width: 150 }, 
                        //{ field: 'CannotLoginUntilDate', title: '', width: 150 }, 
                       // { field: 'LastActiveDatetime', title: '', width: 150 }, 
                        //{ field: 'FailedLoginAttempts', title: '', width: 150 }, 
                        //{ field: 'OnlineTimeCount', title: '', width: 150 }, 
                        //{ field: 'Address', title: '', width: 150 }, 
                        //{ field: 'RegionCode', title: '', width: 150 }, 
                        //{ field: 'Lng', title: '', width: 150 }, 
                        //{ field: 'Lat', title: '', width: 150 }, 
                        //{ field: 'Geohash', title: '', width: 150 }, 
                        { field: 'IsActive', title: '状态', width: 90,templet:'#activeTpl_@(guid)' }, 
                        //{ field: 'IsDelete', title: '是否屏蔽', width: 100 }, 
                        //{ field: 'IsEmailValid', title: '', width: 150 }, 
                        //{ field: 'IsMobileValid', title: '', width: 150 }, 
                        //{ field: 'Nickname', title: '', width: 150 }, 
                        {
                             title: '操作', width: 90, toolbar: '#toolbar_@(guid)'
                        }
                    ]
                ],
                where: {
                    keyword: ''
                },
                page: true
            });

            //监听操作
            form.on('switch(isActive_@(guid))',function(obj) {
                admin.onSwitch("@Url.Action("SetIsActive", "Permission")",{ "Id": this.value, "IsActive": obj.elem.checked },obj,form,"form-@guid");
            });

            //监听单元格编辑
            table.on('edit(table_@(guid))',function(obj) {
                var value = obj.value, data = obj.data, field = obj.field;
                admin.onCellEdit("@Url.Action("SetOrderIndex", "Permission")",{ "Id": data.Id , "OrderIndex": value });
            });

            var active = {
                getCheckData: function() { //获取选中数据
                    var checkStatus = table.checkStatus('idTest'), data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                },
                getCheckLength: function() { //获取选中数目
                    var checkStatus = table.checkStatus('idTest'), data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                },
                isAll: function() { //验证是否全选
                    var checkStatus = table.checkStatus('idTest');
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                },
                search: function() {
                    //执行重载
                    table.reload('table_@(guid)',
                        {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            },
                            where: {
                                keyword: $("[lay-filter='form-@guid'] input[name='keyword']").val()
                            }
                        });
                }
            };

            $("[lay-filter='form-@guid'] .layui-btn[zui-event='search']").on("click",
                function() {
                    var event = $(this).attr('zui-event');
                    if (event) {
                        active[event] && active[event].call(this);
                    }
                });
            
            $("[lay-filter='form-@guid'] .layui-btn[zui-event='resetPwd']").on("click",function(e) {
                var checkStatus = table.checkStatus('table_@(guid)');
                if(checkStatus.data.length<=0){
                    layer.alert('至少选择一项',{icon: 5});
                }else{
                    layer.confirm('此操作不可恢复，重置后的密码为 @newResetPwd', {icon: 3, title:'你确认重置密码吗? '}, function(index){
                        layer.close(index);
                        var ary = checkStatus.data.map(function(v,i) {
                          return v.Id;
                        });
                        admin.ajax('@Url.Action("ResetPwd","Member")',{ ids : ary },function(e) {
                          if(e.Code===0){
                               layer.alert('重置成功',{icon: 1});
                          }else{
                               layer.alert('重置失败 '+ e.Message ,{icon: 5});
                          }
                        })
                    })
                }
            });
        });
</script>