@using Moz.Administration.Models.Settings
@model Moz.Administration.Models.Settings.IndexSettingRespModel
@{
    Layout = null;
    var guid = Guid.NewGuid().ToString("N");
}
<style>

    
    
</style>
<div style="height: 100%; overflow-y: auto;">
    <div class="layui-card">
        <div class="layui-card-header">@Model.Title</div>
        <div class="layui-card-body">
            <form class="pageForm layui-form" method="post"
                  action="@Url.Action("save", "setting")"
                  onsubmit="return validateCallback(this, navTabAjaxDone);"
                  novalidate="novalidate">
                <input type="hidden" name="id" value="@Model.Guid"/>
                @foreach (var item in Model.PropertiesItems)
                {
                    <div class="layui-form-item">
                        <label class="layui-form-label">@item.DisplayName</label>
                        <div class="layui-input-inline">
                            @if (item.PropertType == PropertType.BOOL)
                            {
                                var ischecked = item.Value?.ToLower() == "true" ? "checked" : "";
                                <input type="checkbox" lay-filter="@(guid)_checkbox" lay-text="ON|OFF" lay-skin="switch" value="true" @ischecked>
                                <input type="hidden" name="Setting.@item.Name" value="@item.Value">
                            }
                            else
                            {
                                <input type="text" name="Setting.@item.Name" value="@item.Value" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                            }
                        </div>
                    </div>
                }
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'upload'],
        function() {
            var form = layui.form;
            form.render();

            form.on('switch(@(guid)_checkbox)',
                function(obj) {
                    var boolValue = obj.elem.checked ? "true" : "false";
                    $(obj.othis).next().val(boolValue);
                });

        });
</script>