@model Moz.Administration.Models.Roles.IndexModel
@{
    Layout = null;
    var guid = Guid.NewGuid().ToString("N");
}
<div class="zui-page layui-form" lay-filter="form-@guid">
    <div class="layui-card">
        <div class="layui-card-header" style="padding: 20px 0;">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">关键字</label>
                    <div class="layui-input-inline">
                        <input type="text" name="keyword" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn" lay-submit="" zui-event="search">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>

            </div>
        </div>
        <div class="layui-card-body">
            <div class="layui-btn-group">
                <a class="layui-btn" href="javascript:;" zui-href="@Url.Action("Create", "Role")" zui-type="dialog" zui-width="500px" zui-height="400px" title="添加角色"><i class="layui-icon">&#xe654;</i> 添加</a>
                <!--<a class="layui-btn" href="@Url.Action("", "")"  rel="ids" posttype="string" target="selectedTodo" title="确定要删除这些吗?"><i class="layui-icon">&#xe640;</i> 删除</a>-->
            </div>
            <table class="layui-hide" id="table_@(guid)" lay-filter="table_@(guid)"></table>
        </div>
    </div>
</div>

<script type="text/html" id="toolbar_@(guid)">

    {{# if(d.IsSystem){ }}
    <a class="layui-btn layui-btn-disabled layui-btn-xs" href="javascript:;">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </a>
    <a class="layui-btn layui-btn-disabled layui-btn-xs " href="javascript:;">
        <i class="layui-icon layui-icon-delete"></i>删除
    </a>
    {{# }else{ }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" href="javascript:;" zui-href="@Url.Action("update", "Role")?id={{d.Id}}" zui-type="dialog" zui-width="500px" zui-height="400px" title="编辑角色">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" href="javascript:;" zui-href="@Url.Action("delete", "Role")?id={{d.Id}}" zui-type="ajax" zui-confirm="你确认删除此条信息(ID={{d.Id}})吗？">
        <i class="layui-icon layui-icon-delete"></i>删除
    </a>
    {{# } }}
    <a class="layui-btn  layui-btn-warm layui-btn-xs" href="javascript:;" zui-href="@Url.Action("ConfigPermission", "Role")?roleid={{d.Id}}" zui-type="dialog" zui-width="500px" zui-height="600px" title="{{d.Name}}-权限配置">
        <i class="layui-icon layui-icon-auz"></i>权限配置
    </a>
    <a class="layui-btn layui-btn-xs" href="javascript:;" zui-href="@Url.Action("ConfigMenu", "Role")?roleid={{d.Id}}" zui-type="dialog" zui-width="500px" zui-height="600px" title="{{d.Name}}-管理菜单配置">
        <i class="layui-icon layui-icon-spread-left"></i>菜单配置
    </a>
</script>
<script type="text/html" id="activeTpl_@(guid)">
    {{#
    var checked = d.IsActive?"checked":"";
    }}
    {{# if(d.IsSystem){ }}
    <input type="checkbox" name="isActive" value="{{d.Id}}" lay-skin="switch" lay-text="是|否" lay-filter="isActive_@(guid)" {{checked}} disabled>
    {{# }else{ }}
    <input type="checkbox" name="isActive" value="{{d.Id}}" lay-skin="switch" lay-text="是|否" lay-filter="isActive_@(guid)" {{checked}}>
    {{# } }}
</script>
<script type="text/html" id="adminTpl_@(guid)">
    {{#
    var checked = d.IsAdmin?"checked":"";
    }}
    {{# if(d.IsSystem){ }}
    <input type="checkbox" name="isAdmin" value="{{d.Id}}" lay-skin="switch" lay-text="是|否" lay-filter="isAdmin_@(guid)" {{checked}} disabled>
    {{# }else{ }}
    <input type="checkbox" name="isAdmin" value="{{d.Id}}" lay-skin="switch" lay-text="是|否" lay-filter="isAdmin_@(guid)" {{checked}}>
    {{# } }}
</script>
<script type="text/html" id="codeTpl_@(guid)">
    {{# if(d.IsSystem){ }}
    <span class="zui-tag zui-tag-mini zui-tag-warning">{{d.Code}}</span>
    {{# }else{ }}
    <span class="zui-tag zui-tag-mini zui-tag-success">{{d.Code}}</span>
    {{# } }}
</script>
<script>
    layui.use(['form', 'table', 'jquery','admin'],
        function() {
            var form = layui.form
                , $ = layui.jquery
                , table = layui.table
                , admin = layui.admin;
            
            form.render(null, "form-@guid");

            table.render({
                elem: '#table_@(guid)',
                url: '@Url.Action("PagedList", "Role")',
                method: 'post',
                response: { statusName: 'Code', msgName: 'Message', countName: 'Total', dataName: 'Data' },
                request: { limitName: 'pageSize' },
                cols: [
                    [
                        { type: 'checkbox' }, { field: 'Id', width: 80, title: 'ID', sort: true },
                        { field: 'Name', title: '角色名称' }, 
                        { field: 'Code', title: '标识码', width: 150, templet: '#codeTpl_@(guid)' }, 
                        {
                            field: 'IsActive',
                            width: 90,
                            title: '是否可用',
                            templet: '#activeTpl_@(guid)',
                            unresize: true
                        }, 
                        {
                            field: 'IsAdmin',
                            width: 90,
                            title: '管理组',
                            templet: '#adminTpl_@(guid)',
                            unresize: true
                        },
                        {
                             title: '操作', width: 330, toolbar: '#toolbar_@(guid)'
                        }
                    ]
                ],
                where: {
                    keyword: ''
                },
                page: true
            });

            form.on('switch(isActive_@(guid))',function(obj) {
                admin.onSwitch("@Url.Action("SetIsActive", "Role")",{ "Id": this.value, "IsActive": obj.elem.checked },obj,form,"form-@guid");
            });
            
            form.on('switch(isAdmin_@(guid))',function(obj) {
                admin.onSwitch("@Url.Action("SetIsAdmin", "Role")",{ "Id": this.value, "IsAdmin": obj.elem.checked },obj, form,"form-@guid");
            });

            //监听单元格编辑
            table.on('edit(table_@(guid))',
                function(obj) {
                    var value = obj.value, data = obj.data, field = obj.field;
                    $.post("@Url.Action("SetIsActive", "Role")",
                        { "Id": data.Id, "OrderIndex": value },
                        function(data) {
                            if (data.Code > 0) {
                                layer.msg(data.Message);
                            } else {
                                layer.msg("设置成功");
                            }
                        },
                        "json");
                });

            var active = {
                getCheckData: function() { //获取选中数据
                    var checkStatus = table.checkStatus('idTest'), data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                },
                getCheckLength: function() { //获取选中数目
                    var checkStatus = table.checkStatus('idTest'), data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                },
                isAll: function() { //验证是否全选
                    var checkStatus = table.checkStatus('idTest');
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                },
                search: function() {
                    //执行重载
                    table.reload('table_@(guid)',
                        {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            },
                            where: {
                                keyword: $("[lay-filter='form-@guid'] input[name='keyword']").val()
                            }
                        });
                }
            };

            $("[lay-filter='form-@guid'] .layui-btn[zui-event='search']").on("click",
                function() {
                    var event = $(this).attr('zui-event');
                    if (event) {
                        active[event] && active[event].call(this);
                    }
                });
        });
</script>