@model Moz.Admin.Layui.Models.Roles.UpdateModel
@{
  Layout = null;
  var guid = Guid.NewGuid().ToString("N");
}
<div class="zui-form">
  <div class="layui-card">
    <div class="layui-card-body">
      <form class="layui-form"
            method="post"
            action="@Url.Action("Update", "Role")"
            onSuccessCallBack=""
            lay-filter="form-@guid">
        
        <input type="hidden" value="@Model.Role.Id" name="id"/>

        <div class="layui-form-item">
          <label class="layui-form-label">名称</label>
          <div class="layui-input-inline">
            <input type="text" name="name" value="@Model.Role.Name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">标识码</label>
          <div class="layui-input-inline">
            <input type="text" name="code" value="@Model.Role.Code" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否可用</label>
            <div class="layui-input-inline">
              <input type="checkbox" name="IsActive" value="true" lay-skin="switch" lay-text="是|否" @(Model.Role.IsActive ? "checked" : "")>
            </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">管理组</label>
          <div class="layui-input-inline"  style="width: auto;">
            <input type="checkbox" name="IsAdmin" value="true" lay-skin="switch" lay-text="是|否" @(Model.Role.IsAdmin?"checked":"")>
          </div>
          <div class="layui-form-mid layui-word-aux">请谨慎开启</div>
        </div>

        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit="">
              <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i> 立即提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form'],
    function() {
      var form = layui.form;

      form.render(null, "form-@guid");

    });
</script>